<h1>Component Test</h1>

{{{components.foo}}}

<hr />

<div>
    Enter Text: <input id="textInput" type="text" />
</div>

<div>
    Check This: <input id="checkboxInput" type="checkbox" />
</div>

<div>
    Radio Option:
    <label>
        <input id="radioInputYes" type="radio" name="radioInput"> yes
    </label>
    <label>
        <input id="radioInputNo" type="radio" name="radioInput"> no
    </label>
    <label>
        <input id="radioInputMaybe" type="radio" name="radioInput"> maybe
    </label>
</div>

<div>
    Select Option:
    <select id="select">
        <option value="hello">Hello</option>
        <option value="goodbye">Goodbye</option>
    </select>
</div>

<div>
    Enter Text:
    <textarea id="textarea"></textarea>
</div>